.brand {
    font-family: 'Impact', normal;
    font-size: 40px;
    color: #aa9585;
}

.menu {
    font-family: 'Impact', normal;
    font-size: 40px;
    color: #aa9585;
}
.material-symbols-outlined {
    font-size: 40px;
}


.cartShop {
    padding: 16px;
    font-family: 'Impact', cursive;
    font-size: 40px;
    color: #aa9585;;
}

.greeting {
    padding-top: 16px;
    text-align: center;
    font-size: xx-large;
    color: #aa9585;
    font-family:'Impact', cursive;
}
.numeroContador {
    font-size: x-large;
    font-family: 'Impact';
    margin: 1rem;
}
.contador {
    margin-left: 15px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}


/* main.css */
.cart-container {
    /* Aplica flexbox para centrar el contenido horizontalmente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente (opcional) */
    height: 100vh; /* Ajusta la altura del contenedor según tus necesidades */
  }
  
  .finalizar-compra-button {
    /* Estilos CSS para el botón de Finalizar Compra */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    /* Agrega más estilos según sea necesario */
  }
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilos para los campos de entrada */
  .input-container input {
    margin: 5px;
    padding: 5px;
    font-family: 'Impact', normal;
    font-size: 20px;
    color: #aa9585;
    /* Agrega más estilos según sea necesario */
  }

      /* Ale 78 lineas */

      
/* main.css */
.cart-container {
    /* Aplica flexbox para centrar el contenido horizontalmente */
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna para que los elementos estén uno debajo del otro */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta la altura del contenedor según tus necesidades */
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilos para los campos de entrada */
  .input-container input {
    margin: 5px;
    padding: 5px;
    font-family: 'Impact', normal;
    font-size: 20px;
    color: #aa9585;
    /* Agrega más estilos según sea necesario */
  }
  
  /* Estilos CSS para el botón de Finalizar Compra */
  .button-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    /* Agrega más estilos según sea necesario */
  }
  
  /*4.1 Final Version | Final Development Project 4/4*/